<div class="container">
    <div class="row">
        <div class="col-3 my-5">
              <div class="card bg-image hover-overlay shadow-1-strong rounded ripple" data-mdb-ripple-color="light" style="width:300px;">
                <%=image_tag "men_1.jpg"%>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
          </div>
          <div class="col-6 my-5">
              <div class="card bg-image hover-overlay shadow-1-strong rounded ripple" data-mdb-ripple-color="light">
                <%=image_tag "men_1.jpg"%>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to make up the bulk of the card's content.</p>
                </div>
              </div>
          </div>
        <div class="col-3 my-5">
              <div class="card bg-image hover-overlay shadow-1-strong rounded ripple " data-mdb-ripple-color="light" style="width:300px;">
                <%=image_tag "men_1.jpg"%>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-4">
            <div class="card bg-image hover-overlay shadow-1-strong rounded ripple" data-mdb-ripple-color="light">
                <%=image_tag "men.jpg"%>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card bg-image hover-overlay shadow-1-strong rounded ripple" data-mdb-ripple-color="light">
             <%=image_tag "men.jpg" %>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some more quick example text for the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-4">
              <div class="card bg-image hover-overlay shadow-1-strong rounded ripple" data-mdb-ripple-color="light">
                <%=image_tag "men.jpg"%>
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
    </div>
</div>
